/* Deals with the background and header text */
body {
  background: url(../Images/Among_Us.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

/* Styles the left hand page of the website asking for the inputs */
.form {
  margin: 0 auto;
  display: inline;
  float: left;

  background: url(../Images/Form.jpg) no-repeat center center;
  background-size: cover;
  padding: 50px 100px;
  margin-left: 75px;
  margin-top: 75px;
}
#input_form {
  font-weight: bold;
  color: white;
}

/* Button styling within the form */
button img {
  height: 100px;
  width: 100px;
}
button img:hover {
  height: 125px;
  width: 125px;
}

/* Table styling for different rows and columns as well as spacing for the table on the page*/
.table_div {
  padding: 75px 100px;
  margin-left: 75px;
  margin-top: 100px;
}
#m_table {
  width: 50%;
  margin: 0 auto;
}
td {
  font-family: monospace;
  text-align: center;
  font-size: 20px;
  margin: 0;
  width: 20px;
}
tr:nth-child(even) {
  background-color: rgb(78, 153, 68);
  color: white;
}
tr:nth-child(odd) {
  background-color: white;
  color: rgb(78, 153, 68);
}
tr:nth-child(1) {
  background-color: brown;
  color: white;
  position: sticky;
}
td:nth-child(1) {
  background-color: brown;
  color: white;
  position: sticky;
}
